{% load sass_tags %}

!!! 5
html
  head
    meta(charset="utf8")
    title EdOrit's Wedding - {% block title %}{% endblock %}
    link(rel="stylesheet" href="{% sass_src 'styles.scss' %}")
  body
    {% include 'navbar.pug' %}
    {% block body %}{% endblock %}
