footer
    div(class="container")
        div(class="dots-bar")
            div(class="is-complete"): span Objective &amp; Template
            div(class="is-active"): span Options
            div: span Step
            div: span Step
            div: span Step
            div: span Step