{% extends 'base.pug' %}

{% block title %}Greetings {% endblock %}

{% block body %}
form(method="POST" onsubmit="beforeSubmit()")
    {% csrf_token %}
    {% for field in form.visible_fields %}
    div(class="form-group")
        {{ field.label_tag }}
        {{ field }}
    {% for error in field.errors %}
    <div class="alert alert-danger">
    <strong>{{ error|escape }}</strong>
    </div>
    {% endfor %}
    {% endfor %}
    {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
    {% endfor %}
    button(type="submit" class="btn btn-primary mb-2") Submit

{% endblock %}
