{% extends 'base.pug' %}

{% block title %}Hoopa {% endblock %}

{% block body %}
p Ceremony. Videos.
p After the glass breaks, starting a game where the guest needs to run to hug edorit while other guests rush over.
{% endblock %}
