{% extends 'base.pug' %}

{% block title %}{% endblock %}

{% block body %}
p Welcome!
p The wedding will open at TIME.
p Do xyz and abc.
ul
  li
    a(href="{% url 'reception' %}") Page 1
  li
    p Something else
{% endblock %}