{% extends 'base.pug' %}

{% block title %} List{% endblock %}

{% block body %}
form(method="GET")
  input(type="text" name="q" value="{{ q }}" placeholder="Search...")
  button(type="submit") Search
ul
  {% for item in items %}
  li
    a(href="{% url 'item' item.pk %}") {{ item.text }}
  {% endfor %}
  li
    a(href="{% url 'new-item' %}") New item
{% endblock %}

