{% extends 'base.pug' %}

{% block title %}Magnets {% endblock %}

{% block body %}
{% load static %} 
// TODO: This should be in base.pug, but then it doesn't work for some reason

div
  img(src="{% get_static_prefix %}img/magnets/circle.png" width=640 height=480)
  video(autoplay="autoplay" style="border:5px solid #000000")
  canvas(width="640" id="canvas", height="480" style="border:5px solid #000000")
  button(type="button" onclick="takePhoto()" class="btn btn-primary mb-2") Take photo

script.
  const constraints = {
    video: {width: {exact: 640}, height: {exact: 480}}
  };
  // TODO: Export this code to external js script
  // Option - use something like https://simpl.info/getusermedia/sources/ to allow user to select device
  var overlay_image = document.querySelector('img');
  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');//changed this line to "canvas.getContext('2d')".

  // On button click we copy the webcam image to a canvas
  function takePhoto() {
    ctx.drawImage(video, 0, 0, 640, 480);
  }

  // On form submit we copy the canvas to the image field of the form
  // TODO: Also check a photo was taken
  function beforeSubmit() {
    var canvasURL = canvas.toDataURL("image/png");
    var img = document.getElementById("id_photo");
    img.value = canvasURL;
    return true;
  }
  navigator.mediaDevices.getUserMedia(constraints).
  then((stream) => {video.srcObject = stream});

p Choose a table name. The name can be in {Edo's Family, Orit's Family, Arazim, Highschool, Kindergarden, Womb, ...}. 
| People can also add their own tables. 
| Then, the table number will be <i>H("Mazaltov",tablename)</i> or something like this.
p <i>name and table should be saved in the session</i>
p Ideas:
ul
  li Parents or edorit saying hello
  li ...

| The image of a table and a KASEFET leads to the 
a(href="{% url 'greetings' %}") Greetings page
| .
a(href="{% url 'hoopa' %}")
{% endblock %}
